a {
  border-right: 1px solid black;
  padding-right: 4px;
}
img {
  height: 12em;
  padding-bottom: 15px;
}
table {
  border: 1px solid black;
  width: 50%;
  border-collapse: collapse;
}
th {
  border: 1px solid black;
  padding: 6px 0px 6px 0px;
}
td {
  border: 1px solid black;
  text-align: left;
  padding: 6px 0px 6px 5px;
}
img {
  height: 12em;
  padding-bottom: 15px;
}
fieldset {
  width: 300px;
  border-radius: 9px;
  margin-left: 15px;
}
p {
  font-weight: bold;
}
